body {
  background-color: #ccc;
}
h1 {
  font-style: normal;
}

h2 {
  color:  #ff4d4d;
}

p {
  font-family: "Times New Roman";
  margin: 5px;
}

ul {
  font-family: Arial;

}

a:hover {
  color: #ff3399;

}
